<%- include ('templates/header'); -%>

<%- include ('templates/authnav'); -%>


<div class='container'>
	<div class='jumbotron'>
		<center>	   
			<h3>What is a Stock Market Prediction?</h3>
			<h5>A stock market prediction is an attempt to forecast the future value of an individual stock, a particular sector or the market, or the market as a whole. In this app 
			we are trying to provide a well-formed preditcion out of data gathered from an API, considering the activity throughout the market on a specific company.</h5>
			
	    </center>
<br><br>
<div class="container2">
  <div class="row">
    <div class="col">
		<img class='prediction' src='/img/stockPrediction.png' alt='prediction' class='center' style='width:450px;height:280px;'> <br>
		<br><h5 style='font-size: 16px;'>Here is a prediction on the TATA stock.</h5>
	</div>
    <div class="col">
      2 of 2
    </div>
  </div>
   
	







	</div>

</div>
</div>


<%- include ('templates/footer'); -%>