<%- include ('templates/header'); -%>
<div class = "contain">
    <h2 style='color: green;'> Email Sent!</h2>
    <img class='emailSent' src='/img/emailSent.png' alt='emailSent' style='width:250px;height:250px;'>
</div>    

<%- include ('templates/footer'); -%>