<%- include ('templates/header'); -%>

<%- include ('templates/authnav'); -%>


<div class='container'>
	<div class='jumbotron'>
        
        <div class="fcf-body">
        
            <div id="fcf-form">
            <h3 class="fcf-h3">Contact us</h3>
<!-- THE ACTION AT THE END WILL DEFINE WHAT FORM IT GETS IT FROM -->        
            <form id="fcf-form-id" class="fcf-form-class" method="post" action="/contact">
                
                <div class="fcf-form-group">
                    <label for="name" class="fcf-label">Your name</label>
                    <div class="fcf-input-group">
                        <input type="text" id="name" name="name" class="fcf-form-control" required>
                    </div>
                </div>
        
                <div class="fcf-form-group">
                    <label for="email" class="fcf-label">Your email address</label>
                    <div class="fcf-input-group">
                        <input type="email" id="email" name="email" class="fcf-form-control" required>
                    </div>
                </div>
        
                <div class="fcf-form-group">
                    <label for="message" class="fcf-label">Your message</label>
                    <div class="fcf-input-group">
                        <textarea id="message" name="message" class="fcf-form-control" rows="6" maxlength="3000" required></textarea>
                    </div>
                </div>
        
                <div class="fcf-form-group">
                    <button type="submit" id="fcf-button" class="fcf-btn fcf-btn-primary fcf-btn-lg fcf-btn-block">Send Message</button>
                </div>
        
                <div class="fcf-credit" id="fcf-credit">
                <a href="https://github.com/parker-erickson/project-03-group-H" target="_blank">Github</a>
                </div>
        
            </form>
            </div>

        </div>

	</div>

</div>

<%- include ('templates/footer'); -%>