<%- include ('templates/header'); -%>
<div class = "contain">
    <h2 style='color: red;'> Sorry, email failed!</h2>
    <img class='sorry' src='/img/sorry-wide.png' alt='sorry' style='width:250px;height:200px;'>
</div>    

<%- include ('templates/footer'); -%>