<%- include ('templates/header'); -%>
<div class = "contain">
    <h2 style='color: red;'> Sorry, Page not found !</h2>
    <img class='sorry' src='/img/sorry.jpg' alt='sorry' style='width:250px;height:250px;'>
</div>    

<%- include ('templates/footer'); -%>