<%- include ('templates/header'); -%>


<%- include ('templates/nav'); -%>


<!--<div class='container'>-->
	<div class='jumbotron'>
		<!--<a class='btn btn-primary' href='/login'>Login</a>-->
		<!--<a class='btn btn-info' href='/register'>Register</a>-->
		
		<div><h1>CST438 Stock Predictions</h1></div>
		<% if (!isAuthenticated){ %>
		<p>Please Log-in or create an account to continue.</p>
		<% } else { %>
		<p>Stocks and graphics oh my!</p>
		<% } %>
	</div>
<!--</div>-->
<br><br><br><br><br><br><br>
<style>
	body {
		background-image: url('img/stock-background.jpg');
		background-attachment: fixed;
		background-size: cover;
	}
	.jumbotron {
		opacity: 80%;
	}
</style>

<%- include ('templates/footer'); -%>