<%- include ('templates/header'); -%>


<%- include ('templates/nav'); -%>

<div class='jumbotron'>
    <!--<a class='btn btn-primary' href='/login'>Login</a>-->
    <!--<a class='btn btn-info' href='/register'>Register</a>-->

    <div><h1>predictions</h1></div>

</div>
<div>
    <canvas id="canvas"></canvas>
</div>
</div>
<br><br><br><br><br><br><br>

<%- include ('templates/footer'); -%>