<%- include ('templates/header'); -%>

<%- include ('templates/authnav'); -%>


<div class='container'>
	<div class='jumbotron'>
		<a class='btn btn-danger' href='/logout'>Logout</a>
	</div>
	
	<h4>Welcome <%=user%> to the page !!!</h4>
	
</div>

<%- include ('templates/footer'); -%>