<%- include ('templates/header'); -%>

<%- include ('templates/nav'); -%>


<div class='container'>
	<div class='jumbotron'>
		<h4>Welcome <%=user%> to the page !!!</h4>
	</div>
	
</div>
<style>
	body {
		background-image: url('img/stock-background.jpg');
		background-attachment: fixed;
		background-size: cover;
	}
	.jumbotron {
		opacity: 80%;
	}
</style>

<%- include ('templates/footer'); -%>