<nav class="navbar navbar-expand-lg navbar-dark bg-primary"">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    
 <li >
    <H1 align="left"><img src="/img/logo.jpg" alt="logo" style="width:50px;height:50px;"></H1>
  </li>
  
  <li > </li>
    
    <a class="navbar-brand" href="/">Home</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/register">Register</a>
      </li>
      
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-4" type="search"  placeholder="Search" aria-label="Search">
      <div class="btn-group">
       
  <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search
  </button>
</div>
    </form>
  </div>
</nav>