<form action='./action/search'>
	<div class="mx-auto" style="width: 500px">

        <div class="input-group">
            <input class='form-control shadow' name='keyword' placeholder="Stock Search">
            <input type='submit' class="btn btn-primary shadow rounded input-group-addon" value='Search'>
        </div>

    </div>
</form>
<br>
